body{
  background-image: url("http://www.ogrady.on.ca/MainImages/GridFading.png"); 
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutme{
    font-size: 3vw;
    font-family: Comic Sans MS, cursive, sans-serif;
    background-size: cover;
    
  }
  .social {
    width: 100%;
    top: 100%;
    text-align: center;
    transform: translateY(-50%);
    bottom: 0%;
    
  }
  
  .social .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    border: 0.2vw dashed black;
    background-clip: content-box;
    padding: 1.5vw;
    transition: .5s;
    color: rgb(122, 104, 57);
    margin-left: 0vw;
    margin-right: 1.5vw;
    font-size: 5vw;
  }
  
  .social .link span {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .social .link:hover {
    padding: 1vw;
    color: rgb(153, 22, 22);
    margin-left: 0vw;
    transform: translateX(.5vw) rotate(360deg);
  }
  
  .social .link.steam {
    background-color: midnightblue;
    color: white;
  }
  
  .social .link.github {
    background-color: black;
    color: white;
  }
  
  .social .link.facebook {
    background-color: #3B5998;
    color: white;
  }
  #sld{
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  
  
  