body{
    background-image: url("http://blog.hostbaby.com/wp-content/uploads/2013/07/scuffedstatic_dark_1920x1234.jpg");
}
#achtable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%; 
  }
  
  #achtable td, #achtable th {
    border: 0.1vw solid #ddd;
    padding: 0.8vw;
    text-align: center;
    color: white;
  }
  
  #achtable tr:nth-child(odd){
      opacity: 0.5;
  }
  
  #achtable tr:hover {background-color: rgb(185, 86, 86);}
  
  #achtable th {
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    text-align: center;
    background-color: rgba(192, 36, 25, 0.842);
    color: white;
  }
  .header{
      text-align: center;
      font-family: Comic Sans MS, cursive, sans-serif;
    background-color: darkred;
    padding: 2vw;
    font-size: 3vw;
    color:white;
    }
    #inphoimg{
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    h2{
        text-align: center;
        color: azure;
    }
