@import "<link href='https://fonts.googleapis.com/css?family=Rakkas' rel='stylesheet'>";

.header {
  padding: 15vw;
  text-align: center;
  color:white;
  background-size: cover;
}
.header img{
  width:100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
.header h1 {
  font-size: 5vw;
  font-family: 'Rakkas';
  color: black; 
}
.explore{
  color:black;
  font-size: 5vw;
  text-align: center;
  font-family: Comic Sans MS, cursive, sans-serif;
}
body{
  background-image:url("http://blog.hostbaby.com/wp-content/uploads/2013/07/futuretech1920x1234.jpg");   
}