#navbar {
    overflow: hidden;
    background-color: #333;
  }
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
    font-size: 2vw;
  }
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: crimson;
    color: white;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky {
    padding-top: 1vw;
  }