* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 1.2vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.4vw;
    resize: vertical;
  }
  
  label {
    padding: 1.2vw 1.2vw 1.2vw 0;
    display: inline-block;
  }
  
  button[type=submit] {
    background-color: crimson;
    color: white;
    padding: 1.5vw 2.0vw;
    border-radius: 0.4vw;
    cursor: pointer;
    float: right;
  }
  
  button[type=submit]:hover {
    background-color: darkred;
    float: right;
  }
  
  .container {
    border-radius: 0.5vw;
    background-color: #f2f2f2;
    padding: 2.0vw;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 1vw;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 1vw;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  body{
      background-image: url("http://blog.hostbaby.com/wp-content/uploads/2013/07/circles1920x1234.jpg");
       font-family: Comic Sans MS, cursive, sans-serif; 
       font-size: 2vw;
       background-repeat: no-repeat;
    }
    table{
      border: 2vw solid whitesmoke;
      color: aliceblue;
      width: 100%;
    }
    #tlevel{
      float: right;
    }
    #tskill{
      float: center;
    }
    #text{
        color: crimson;
    }

    #n{
      color: white;
      font-size: 3vw;
      
    }
    #like{
      float: right;
    }